* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: #6969ef;
  padding: 3vh;
  align-items: center;
  justify-content: space-between;
}


h2,p {
  color: white;
}

.dropdownMenu {
  width: 20px;
  height: 20px;
  background-color: white;
}


.section1 {
  background-color: #7ddbe6;
}

.section2 {
  background-color: #e97df1;
}

.section3 {
  background-color: #2b2e68;
}

.block {
  padding: 4rem 1rem;
}

p,h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #ffffff;
}


@media (min-width: 768px) {

  .navbar {
    background-color: #ff004c;
  }
  .section1 {
    background-color: #ff0000;
  }
  .section2 {
    background-color: #3357ff;
  }
  .section3 {
    background-color: #3633ff;
  }
  .dropdownMenu {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar {
    background-color: red;
  }
  .section1 {
    background-color: yellow;
  }
  .section2 {
    background-color: orange;
  }
  .section3 {
    background-color: green;
  }
  .dropdownMenu {
    display: none;
  }
}
