@font-face {
  font-family: ftltlt;
  src: url("./fonts/ftltlt-webfont.woff");
}
body {
  font-family: ftltlt;
}

.stage {
  position: relative;
  cursor: pointer;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: black;
}

.bannerSize {
  width: 300px;
  height: 250px;
}

.blocks {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 20px;
  left: 20px;
}

.block1,
.block2,
.block3 {
  width: 25px;
  height: 10px;
}
.block1 {
  position: absolute;
  background-color: #9000ff;
}
.block2 {
  background-color: #55559f;
  position: absolute;
  left: 30px;
}
.block3 {
  position: absolute;
  background-color: #b0b0eb;
  left: 60px;
}
.shape {
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: -290px;
  right: -150px;
  background-color: #7272dd;
  border-radius: 50%;
}
.simkaart {
  position: absolute;
  width: 70px;
  left: 200px;
  top: 20px;
}

.text {
  position: absolute;
  color: white;
  top: 10px;
  left: 20px;
  font-family: ftltlt;
  font-size: 40px;
  font-weight: 2;
}
.text1 {
  position: absolute;
  color: white;
  top: 60px;
  left: 20px;
  font-family: ftltlt;
  font-size: 25px;
  font-weight: 2;
}
.text2 {
  position: absolute;
  color: white;
  top: 90px;
  left: 20px;
  font-family: ftltlt;
  font-size: 15px;
  font-weight: 2;
}
.text3 {
  position: relative;
  color: white;
  top: 110px;
  left: -60px;
  font-family: ftltlt;
  font-size: 12px;
  font-weight: 2;
}
.button {
  position: absolute;
  color: white;
  background-color: transparent;
  top: 190px;
  left: 170px;
  font-family: ftltlt;
  font-size: 15px;
  font-weight: 2;
  background-color: transparent;
  border-radius: 8px;
  width: 100px;
  height: 30px;
  border: 1px, solid, white;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.bannerSize2 {
  width: 300px;
  height: 600px;
}

.shape2 {
  position: absolute;
  width: 500px;
  height: 455px;
  bottom: -290px;
  right: -100px;
  background-color: #7272dd;
  border-radius: 50%;
}
.simkaart2 {
  position: absolute;
  width: 100px;
  left: 55px;
  top: 195px;
  rotate: 90deg;
}
.hi2{
  position: absolute;
  width: 65px;
  left: 200px;
  top: 5px;
}

.text2 {
  position: absolute;
  color: white;
  top: 10px;
  left: 20px;
  font-family: ftltlt;
  font-size: 55px;
  font-weight: 2;
}
.text12 {
  position: absolute;
  color: white;
  top: 60px;
  left: 20px;
  font-family: ftltlt;
  font-size: 25px;
  font-weight: 2;
}
.text22 {
  position: absolute;
  color: white;
  top: 90px;
  left: 20px;
  font-family: ftltlt;
  font-size: 20px;
  font-weight: 2;
}
.text32 {
  position: relative;
  color: white;
  top: 315px;
  left: -60px;
  font-family: ftltlt;
  font-size: 20px;
  font-weight: 2;
}
.button2 {
  position: absolute;
  color: white;
  background-color: transparent;
  top: 507px;
  left: 30px;
  font-family: ftltlt;
  font-size: 27px;
  font-weight: 2;
  background-color: transparent;
  border-radius: 8px;
  width: 240px;
  height: 66px;
  border: 1px, solid, white;
}
